body {
  background: rgb(204,204,204); 
}
page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
page[size="A4"] {  
  width: 21cm;
  height: 29.7cm; 
}
page[size="A4"][layout="portrait"] {
  width: 29.7cm;
  height: 21cm;  
}
page[size="A3"] {
  width: 29.7cm;
  height: 42cm;
}
page[size="A3"][layout="portrait"] {
  width: 42cm;
  height: 29.7cm;  
}
page[size="A5"] {
  width: 14.8cm;
  height: 21cm;
}
page[size="A5"][layout="portrait"] {
  width: 21cm;
  height: 14.8cm;  
}

page[size="ID-1"][layout="portrait"]{
    width: 8.5cm;
    height: 5.39cm;
}
@media print {
  body, page {
    margin: 0;
    box-shadow: 0;
  }
}

div.container {
    padding-top: 3cm;
    padding-bottom: 3cm;
    padding-right: 1.5cm;
    padding-left: 1.5cm; 
    border: 5px;
    height: 256mm;
    outline: 2cm;
}
